    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 740px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    
      <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
      <img src="https://cdn-icons-png.flaticon.com/512/733/733635.png" style="height: 46px; width: 46px;"
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mt-4">
      <li class="nav-item mt-3">
        <a href="#" class="nav-link active" aria-current="page">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2 mt-3 py -3" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://www.citypng.com/public/uploads/preview/-11591381976e1qbpa99ux.png" alt="" style="height: 30px; width: 30px;">
          <svg class="bi me-2 mt-3" width="16" height="16"><use xlink:href="#explore"></use></svg>
          Explore
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://www.citypng.com/public/uploads/preview/download-black-notification-bell-icon-png-11638985042go8osljf1q.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#notifications"></use></svg>
          Notifications
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://www.pngfind.com/pngs/m/56-568764_message-png-message-icon-png-white-transparent-png.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#messages"></use></svg>
          Messages
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://w7.pngwing.com/pngs/440/362/png-transparent-computer-icons-bookmark-symbol-bookmark-miscellaneous-angle-text-thumbnail.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#bookmarks"></use></svg>
          Bookmarks
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://toppng.com/uploads/preview/list-view-icon-list-icon-11553453095qtwdunew3n.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#list"></use></svg>
          List
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#profile"></use></svg>
          Profile
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
            <img src="https://www.freeiconspng.com/uploads/circle-detail-more-icon-22.png" alt="" style="height: 25px; width: 25px;">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#more"></use></svg>
          More
        </a>
      </li>
      <li>
        <button type="button" class="btn btn-primary" style="border-radius: 30%; width: 140px; margin-left: 50px;">Tweet</button>
      </li>
    </ul>
    
    <div class="dropdown" style="margin-top: 200px;">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>VeeBee</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>